button{
padding: 10px 35px;
overflow:hidden;
}

button:before {
font-family: FontAwesome;
content:"\f07a";
position: absolute;
top: 11px;
left: -30px;
transition: all 200ms ease;
}

button:hover:before {
left: 7px;
}