
#promociones h3,h4 {
    text-align: center;
}

#promociones .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#promociones article {

margin: 15px;
}

#promociones img {
    width: 100%;
    max-width: 400px;
}
