form{ width:500px; margin:0 auto; padding:3px; border: 0px solid #d9d9d9;}
form p, form input[type = "submit"]{text-align:center; font-size:40px;}


input[type = "radio"]{ display:none;/*position: absolute;top: -1000em;*/}
label{ color:grey;}

.clasificacion{
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label{color:orange;}
input[type = "radio"]:checked ~ label{color:orange;}
